@media (min-width: 425px) and (max-width: 559px){
    /* -------------------------------- SECCION INICIO */
    .grids{
        display: flex;
        flex-direction: column;

    }
    .card-3 img{
        width: 13.625rem;
        height: 13.625rem;
    }

    .section-1{
        display: flex;
        margin-left: 16.375rem;
    }
    .section-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 17rem;
        margin-top: 35.475rem;
        gap: 3rem;
        width: 250px;
        height: 250px;
    }
    .section-3{
        display: none;
    }
    .section-4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 7.375rem;
        gap: 4rem;
        margin-top: 78.125rem;
        margin-left: 17rem;
        width: 250px;
        height: 250px;
    }
    .section-5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 17rem;
        gap: 4.5rem;
        margin-top: 80rem;
        width: 250px;
        height: 250px;
    }
    .section-6{
        margin-top: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12rem;
    }
    .section-7{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-left: 23rem;
        margin-top: 3.125rem;
    }
    .section-8{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 5.375rem;
        margin-left: 6rem;
        background-color: #f4e7d4;
    }
    .conteiner-asesoramiento{
        margin-left: 2rem;
    }
    .texto-inicio{
        margin-left: 12rem;
        margin-top: 3.125rem;
    }
    .boton-masproductos{
        margin-right: 12.375rem;
        width: 18.5rem;
    }
    .class-compras{
        margin-left: -2rem;
    }
    .div-productos{
        margin-left: -24rem;
    }
    .terminos-vivero p{
        color: #000000;
        font-size: .7rem;
        width: 17rem;
        margin-left: -9rem;
        margin-bottom: 2rem;
    }

    .iconos-redes{
        gap: 0.2rem;
        margin-bottom: 3.5rem;
        margin-left: 16rem;
    }


/* ---------------------------MEDIA CONTACTOS */
.bodymyh{
    height: auto;
}
.form-uno{
    margin-left: 3.8rem;
    width: 100%;
    
    .form-dos{
        width: 33.125rem;
        margin-right: 3rem;
        }
}
.boton-myh{
    margin-left: 15rem;
}
.iconos-contactos{
    width: 100%;
    margin-left: 2.4rem;
}
.iconos-contactos .asesoramiento-footers{
    display: none;
}
.iconos-contactos .terminos-footers{
    margin-right: 0.5rem;
    margin-left: 0;
}
.whats-app{
    margin-bottom: .625rem;
}
.insta-gram{
    margin-bottom: .625rem;
}
.face-book{
    margin-bottom: .625rem;
}

    /* ------------------------------- SECTION NOSOTROS */
    .conteiner-tres{
        margin-left: 1rem;
    }
    .ubi-dos{
        margin-right: 8.375rem;
    }
    .boton-1{
        margin-left: 1rem;
    }
    .asesoramiento-2{
        display: none;
    }
    .container-footer{
        margin-top: 1.25rem;
    }

    /* ----------------- SECTION PRODUCTOS */
    .cate-gorias{
        font-size: 1.3rem;
    }
    .section-seis{
        height: 4.375rem;
    }
    .terminos-vivero1 p{
        font-size: .325rem;
        color: #000000;
    }
    .section-dos{
        display: flex;
        flex-direction: column;
        margin-right: 1.5rem;
        margin-top: 41rem;
    }
    .section-tres{
        display: flex;
        flex-direction: column;
        margin-top: 70rem;
        margin-right: 1.5rem;
    }
    .section-seis{
        background-color: #f4e7d4;
        margin-top: 20rem;
    }
    .section-cuatro{
        display: none;
    }
    .section-cinco{
        display: none;
    }
    .boton-comprasdos{
        margin-bottom: .1375rem;
    }

    /*------------------------- SECTION TIPS ------------------------*/
    .conteiner-tips {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-end;
        justify-content: center;
    }
    .asesoramiento-1{
        display: none;
    }
    .footer-doc4 .terminos-vivero p{
        font-size: .3125rem;
        
    }
    .footer-doc4{
        width: 100%;
        background-color: $bg-principal;
        .terminos-vivero p{
            color: black;
        }
    }

}