@media (min-width: 560px) and (max-width: 562px){

    /* -------------------------------- SECTION INICIO */
    .grids{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    .card{
        width: 185px;
        height: 150px;
    }
    .section-1{
        margin-left: 10rem;
    }
    .section-2{
        display: none;
    }
    .section-3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 5rem;
        gap: 1.125rem;
        margin-top: 15rem;
    }
    .section-4{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 5rem;
        gap: 1.125rem;
        flex-wrap: wrap;
        margin-top: 20.125rem;
    }
    .section-5{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 5rem;
        gap: 1.125rem;
        flex-wrap: wrap;
        margin-top: 20.125rem;
    }
    .section-6{
        margin-top: 15rem;
        margin-left: 0.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-7{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -0.1rem;
        gap: 0.3rem;
    }
    .section-8{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 3rem;
        margin-left: 1rem;
        background-color: #f4e7d4;
    }
    .class-compras{
        margin-left: 4.5rem;
        width: 30rem;
    }
    .div-productos{
        margin-right: -10rem;
        margin-left: -28rem;
        width: 45rem;
    }
    .terminos-vivero p{
        color: $color-principal;
    }
}

/*------------------SECTION CONTACTOS ---*/
    .form-uno{
    margin-left: 7rem;
    .form-dos{
        margin-left: -5.5rem;
    margin-right: 4rem;
}
}
.boton-myh{
    margin-left: 12rem;
}
.iconos-contactos .asesoramiento-footers{
    display: none;
}
.iconos-contactos{
    margin-left: 1.45rem;
}
    /*------------------------------------- SECTION TIPS ----------------------*/
    .conteiner-tips {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-end;
        justify-content: center;
    }
    .asesoramiento-1{
        display: none;
    }
    .footer-doc4{
        width: 34rem;
        margin-right: -0.45em;
    }
    .footer-doc4 .terminos-vivero p{
        font-size: .3125rem;
        
    }
}