@media (min-width: 769px) and (max-width: 1023px){

    /* ------------------------------------------ SECTION INICIO */
    .container-footer{
        height: 7rem;
    }
    .whats-app{
        margin-bottom: 1.125rem;
    }
    .face-book{
        margin-bottom: 1.125rem;
    }
    .insta-gram{
        margin-bottom: 1.125rem;
    }
    
/* --------------------------------------------SECTION PRODUCTOS */
    .cate-gorias{
        font-size: 2rem;
    }
    .section-dos{
        margin-top: 17rem;
        margin-right: 12rem;
        gap: 0.5rem;
    }
    .section-tres{
        margin-top: .9375rem;
        margin-right: 12rem;
        gap: 0.5rem;
    }
    .section-cuatro{
        margin-top: .9375rem;
        margin-right: 12rem;
        gap: 0.5rem;
    }
    .section-cinco{
        margin-top: .9375rem;
        margin-right: 12rem;
        gap: 0.5rem;
    }
    .card-tres img{
        width: 12rem;
    }
    .boton-comprasdos{
        margin-right: 2.125rem;
    }
    .boton-comprasdos a{
        font-size: 0.7rem;
    }
    .asesoramiento-2 p{
        font-size: .3rem;
    }
    .terminos-vivero1 p{
        font-size: 0.3rem;
    }
}