
@media (min-width: 562px) and (max-width:600px){
    /* ---------------------------SECTION INICIO */
    .section-2{
        margin-top: 8.25rem;
        margin-left: 5rem;
    }
    .conteiner-asesoramiento{
        margin-left: 7.875rem;
    }
    .div-productos{
        width: 25.125rem;
        margin-bottom: 3.25rem;
    }
    .div-productos a{
        font-size: 10px;
    }

    .section-footer{
        width: 40rem
    }
}