@media (min-width: 1024px) and (max-width: 1025px){


    /* ------------------------ SECCION INICIO */
    
    .grids{
        margin-left: 0.5rem;
    }
    .section-8{
        margin-left: -0.5rem;
        width: 64.5em;
    }
    .iconos-redes{
        display: flex;
        margin-bottom: 0.5rem;
    }
    .div-productos{
        width: 53.125rem;
        margin-left: -28rem;
    }
    
    /*----------------SECTION CONTACTOS ------------------------*/
    .form-uno{
        margin-left: 0.5rem;
        width: 100%;
        .form-dos{
            margin-right: 1rem;
        }
    }
    .boton-myh{
        margin-left: 10.5rem;
    }
    .iconos-contactos .asesoramiento-footers{
        margin-left: 3rem;
        margin-top: 0.8rem;
        margin-bottom: 0.4rem;
    }
    .iconos-contactos .terminos-footers{
        margin-top: 0.8rem;
        margin-bottom: 0.4rem;
    }
    }