header{
    display: flex;
    background-color: #f4e7d4;
    width: auto;
    box-sizing: border-box;
}
.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 0.8s both;
	animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes wobble-hor-bottom{
    0%,
    100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%; 
    }
    15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
    }
    45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
    }
    75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
    }
}
@keyframes wobble-hor-bottom {
    0%,
    100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    }
    15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
    }
    30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
    }
    45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
    }
    75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
    }
}

.justify-content-center{
    font-family: 'Cinzel', serif;
    font-weight: bold;
}
.logo{
    width: 15rem;
    margin-right: 20.375rem;
}

.logo img{
    width: 80%;
}

.foto-logo{
    width: 15.625rem;
    height: 15.5rem;
    margin-right: 2.375rem;
}

.nav-bar{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-top: 50px;
    text-align: center;
    gap: 1.125rem;
    background-color: #f4e7d4;
    }

.nav-bar li a{
    text-decoration: none;
    font-size: 1.3125rem;
    color:#000000;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
}

nav ul li a:hover{
    color: aliceblue;
}
