.grids-2{
    width: 100%;
    height: 1.875rem;
    display: grid;
    row-gap: 4rem;
    padding-top: 1.25rem;
    padding-bottom: 3.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: 
    "section-uno section-dos section-dos section-dos"
    "section-uno section-dos section-dos section-dos"
    "section-uno section-tres section-tres section-tres"
    "section-uno section-tres section-tres section-tres"
    "section-uno section-cuatro section-cuatro section-cuatro"
    "section-uno section-cuatro section-cuatro section-cuatro"
    "section-uno section-cinco section-cinco section-cinco"
    "section-uno section-cinco section-cinco section-cinco"
    "section-seis section-seis section-seis section-seis"
}

h1{
    font-size: 2.85rem;
    margin-left: 1.5625rem;
}

.section-uno{
    grid-area: section-uno;
    background-color: $bg-principal;
    row-gap: 1.5625rem;
    height: 100%;
    padding-top: 1.5625rem;
    
}

.nave-barra{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-top: 50px;
    text-align: center;
    gap: 1.125rem;
    background-color: $bg-principal;
    }

.nave-comand{
    padding-top: .9375rem;
}

.nave-barra li a{
    text-decoration: none;
    font-size: 1.3125rem;
    color: $color-principal;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Cinzel', serif;

}

.nav-productos{
    padding: .9375rem;
}

.nav-productos li{
    list-style: none;
    padding-top: .9375rem;
    margin-left: 1.5625rem;
}

.nav-productos li a{
    text-decoration: none;
    color: $color-principal;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.section-dos{
    grid-area: section-dos;
    @include flex;
}

.section-tres{
    grid-area: section-tres;
    @include flex;
}

.section-cuatro{
    grid-area: section-cuatro;
    @include flex;
}

.section-cinco{
    grid-area: section-cinco;
    background-color: $bg-principal;
    height: 19.5rem;
    display: flex;
    justify-content: center;
    gap: 1.4000rem;
}
.cate-gorias{
    font-family: 'Abril Fatface', cursive;
    color: $color-principal;
}

.card-tres{
    align-content: center;
}

.card-tres img{
    width: 100%;
    height: 14.5rem;
    padding-top: .625rem;
}

.boton-comprasdos{
    margin-left: 1.8rem;
    margin-top: .5375rem;
    background-color: $color-principal;
    font-family: 'Cinzel', serif;
    border-radius: 1.875rem;
}

.boton-comprasdos a{
    color: $color-secundario;
    text-decoration: none;

}