.bd-example{
    background-color: $bg-principal;
}
.section-doc2{
    margin-top: 4rem;
    gap: .9375rem;
}
.section-doc3{
    margin-top: 4rem;
    .ubi-doc3{
        margin-top: 3rem;
        font-weight: bold;
    }
}

.footer-doc4{
    display: flex;
    background-color: $color-principal;
    height: 3rem;
    margin-top: 5rem;
    gap: .0313rem;

    .asesoramiento-1 p{
    color: $color-secundario;
    }
    .terminos-vivero p{
        color: $color-secundario;
        font-size: .45rem;
    }
    .whats-app{
        margin-bottom: 0.5rem;
    }
    .face-book{
        margin-bottom: 0.5rem;
    }
    .insta-gram{
        margin-bottom: 0.5rem;
    }
    
}

